.vscode
misc
output
scripts
src
tools
.editorconfig
.gitattributes
.gitignore
build.cake
build.cmd
build.ps1
build.sh
Configuration.md
docker-readme.md
GitVersion.yml
NuGet.Config
pscp-test.cmd
README.md
.idea
