<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet official package source" value="https://packages.nuget.org/api/v2" />
        <add key="Linedata Artifactory (Snapshot)" value="https://ln1ampart01.ad.linedata.com/api/nuget/nuget-snapshot/" />
        <add key="ReSharper plugin repository" value="https://resharper-plugins.jetbrains.com/api/v2/" />
    </packageSources>
</configuration>
